.main-section{
    /* background-color: black; */
    margin-top: 5rem;
    width: 100%;
    padding: 1rem;
    scroll-behavior: smooth;
}
.main-section .container{
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgba(212, 212, 212, 0.295);
}
.row .card{
    width: 20rem;
    border-radius: 1.5rem;
    overflow: hidden;
    margin: 1.5rem 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.2s;
}
.row .card:hover{
    transform: scale(1.06);
}
.row .card .card-body .card-title{
    font-weight: 600;
}
.row .card .container-fluid{
    display: flex;
    justify-content: center;
    height: 15rem;
    background-color: red;
    overflow: hidden;
}

/* @media only screen and (max-width:780px){
    .row .card{
        margin: 1.5rem 0rem;
    }
} */

@media only screen and (max-width:545px){
    html{
        font-size: 50%;
    }
    .row .card{
        width: auto;
    }
}